/*
!.gitignore
!LICENSE
!README.md
!logs_14_major
!logs_14_major/**

Scripts/*
!Scripts/*.sh
!Scripts/*.py
__pycache__

# !Scripts/
# Scripts/*plot*
# Scripts/logs*
# Scripts/*_Analysis
# Scripts/OLD_*